<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>AI Resume Screening</title>

    <link
    rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <!-- Main Home Section -->

    <section class="hero">

        <div class="hero-content">

            <!-- Main Title -->

            <h1>
                Smart AI Resume Screening System
            </h1>

            <!-- About Project -->

            <p class="about-text">

                Our project uses Artificial Intelligence
                and Natural Language Processing (NLP)
                to automatically analyze resumes,
                compare resumes with job descriptions,
                detect candidate skills,
                and rank candidates based on matching score.

            </p>

            <p class="about-text">

                This system helps recruiters save time
                and quickly identify the best candidates
                using intelligent resume analysis.

            </p>

            <!-- Center Button -->

            <div class="button-container">

                <a href="/upload">

                    <button class="start-btn">

                        Next Step

                    </button>

                </a>

            </div>

        </div>

    </section>


    <!-- Additional Information -->

    <section class="info-section">

        <div class="info-card">

            <h2>AI Resume Analysis</h2>

            <p>
                Analyze resumes using Artificial Intelligence
                and NLP techniques.
            </p>

        </div>


        <div class="info-card">

            <h2>Automatic Ranking</h2>

            <p>
                Rank candidates automatically
                based on similarity score.
            </p>

        </div>


        <div class="info-card">

            <h2>Skill Extraction</h2>

            <p>
                Detect technical and communication
                skills from resumes.
            </p>

        </div>

    </section>

</body>

</html>